# Ignorera Sentry-relevant mappar för testbyggen
sentry.properties
android/sentry.properties

# Viktigt för att undvika konflikter mellan prebuild och EAS
/android
/ios

# Övriga filer att ignorera
node_modules
npm-debug.log
yarn-error.log
.git
.github
.vscode
.idea